node_modules/
npm-debug.log*
.env
*.log
dist/
build/
.next/
out/
coverage/
*.tsbuildinfo
next-env.d.ts
.pnp.*
/.pnp/
/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.vercel/
*.pem
/*.pdf
/backend/uploads/*
!/backend/uploads/.gitkeep
/frontend/.next/
/frontend/out/
/frontend/node_modules/
/frontend/build/
/frontend/coverage/
/frontend/.env
/frontend/.pnp
/frontend/.pnp.*
/frontend/.DS_Store
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*
/client_secret_721558066666-2lkfsj4gi9rm7l4abqoasta2c31sfqm5.apps.googleusercontent.com.json
frontend/BlogContent(HTML)/
/extra
backend - Shortcut.lnk
Reserved