@import "tailwindcss";


html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* kills ALL scrollbars everywhere including drei's */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* drei's scroll container */
div[style*="overflow: auto"],
div[style*="overflow:auto"] {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

div[style*="overflow: auto"]::-webkit-scrollbar,
div[style*="overflow:auto"]::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}